# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compressed Files
*.zip
*.tar
*.gz

# Build Artifacts
build/*

# Executables
*.exe
*.out
*.app
cpsl

# Flex
lex.yy.c
scanner.cpp
 
# Bison
parser.tab.c
parser.tab.h
parser.hpp
parser.cpp

# cmake
Makefile
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake

# Compiled Assembly Files
*.asm

# Ctags
tags

# YCM config
.ycm_extra_conf.py
